In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt #visualização
#from google.colab import drive
import os

In [2]:
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns', 50)

#Alterar o diretório de trabalho atual do programa em execução para a pasta de pre-processamento

In [ ]:
# drive.mount('/content/drive')
# os.chdir("/content/drive/MyDrive/faculdade/TCC_Leide_Marina_2022/pre-processamento")

#Leitura da base de microdados

In [3]:
import chardet
with open('microdados_enem_2022/DADOS/MICRODADOS_ENEM_2022.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
dtdados = pd.read_csv('microdados_enem_2022/DADOS/MICRODADOS_ENEM_2022.csv', encoding = result['encoding'], sep = ';')

In [4]:
len(dtdados)

3476105

# Eliminar as linhas com nota média NaN linhas em *branco*

In [5]:
total_null = dtdados.isnull().sum().sort_values(ascending = False)
dtdados.info()

# Elimina as linhas com nota média NaN
dtdados.dropna(inplace=True)

dtdados.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3476105 entries, 0 to 3476104
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    int64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(21), int64(18), object(37)
memory usage: 2.0+ GB

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [19]:
print(len(dtdados))

aluno_PA_1 = dtdados[dtdados["NU_INSCRICAO"] == 210057215678]
aluno_PA_2 = dtdados[dtdados["NU_INSCRICAO"] == 210056790669]
aluno_PR_1 = dtdados[dtdados["NU_INSCRICAO"] == 210055552119]
aluno_PR_2 = dtdados[dtdados["NU_INSCRICAO"] == 210055216013]

print(aluno_PA_1[["NU_INSCRICAO", "TX_RESPOSTAS_MT", "TX_GABARITO_MT"]])
print(aluno_PA_2[["NU_INSCRICAO", "TX_RESPOSTAS_MT", "TX_GABARITO_MT"]])
print(aluno_PR_1[["NU_INSCRICAO", "TX_RESPOSTAS_MT", "TX_GABARITO_MT"]])
print(aluno_PR_2[["NU_INSCRICAO", "TX_RESPOSTAS_MT", "TX_GABARITO_MT"]])

681900
         NU_INSCRICAO                                TX_RESPOSTAS_MT  \
3173399  210057215678  BCDDDCAEEAEBBABDCCEBEACBBCBDCBABDBBCBDADEDBAA

                                        TX_GABARITO_MT
3173399  DBAAACEBEDAECCBECDEECBDCABECBEABDDCCDBDXCBAAC
        NU_INSCRICAO                                TX_RESPOSTAS_MT  \
415758  210056790669  BDDAACEBEAADEAABCCEDAADCDBCACEAADCCECCDDBEAEC

                                       TX_GABARITO_MT
415758  DBAAACEBEDAECCBECDEECBDCABECBEABDDCCDBDXCBAAC
         NU_INSCRICAO                                TX_RESPOSTAS_MT  \
1235713  210055552119  AABCACABECACBEBEADDBBCEDCDBCBEAEDABCEBBDDECBC

                                        TX_GABARITO_MT
1235713  DBAAACEBEDAECCBECDEECBDCABECBEABDDCCDBDXCBAAC
         NU_INSCRICAO                                TX_RESPOSTAS_MT  \
1777663  210055216013  BCBDACEEECECACBDADEABDBAADCBBDDAADBCEABDAECDC

                                        TX_GABARITO_MT
1777663  DBAAACEBEDAECCBECDEECBDCABECBEABDDCCDBDXCBAAC

#Códigos de cada prova por área de conhecimento e cor

In [5]:
codigo_prova_amarela_CN = 1086
codigo_prova_azul_CN = 1085

codigo_prova_amarela_CH = 1056
codigo_prova_azul_CH = 1055

codigo_prova_amarela_LC = 1066
codigo_prova_azul_LC = 1065

codigo_prova_amarela_MT = 1076
codigo_prova_azul_MT = 1075

#Filtrar as provas por estado
1.   df_estado_A = Paraná (PR)
2.   df_estado_B = Pará (PA)

In [6]:
df_estado_A = dtdados[(dtdados['SG_UF_PROVA'] == 'PR')] #Dataframe do Estado do Paraná
df_estado_B = dtdados[(dtdados['SG_UF_PROVA'] == 'PA')] #Dataframe do Estado do Pará

print("Parana -> ",len(df_estado_A), "\nPara -> ", len(df_estado_B))
print("Total -> ", len(df_estado_B)+len(df_estado_A))

Parana ->  36030
Para ->  25378
Total ->  61408

#Fitrar as provas por cor (Códigos)

In [7]:
#prova amarela
df_estado_A_CN_amarela = df_estado_A[(df_estado_A['CO_PROVA_CN'] == codigo_prova_amarela_CN)]
df_estado_A_CH_amarela = df_estado_A[(df_estado_A['CO_PROVA_CH'] == codigo_prova_amarela_CH)]
df_estado_A_LC_amarela = df_estado_A[(df_estado_A['CO_PROVA_LC'] == codigo_prova_amarela_LC)]
df_estado_A_MT_amarela = df_estado_A[(df_estado_A['CO_PROVA_MT'] == codigo_prova_amarela_MT)]

df_estado_B_CN_amarela = df_estado_B[(df_estado_B['CO_PROVA_CN'] == codigo_prova_amarela_CN)]
df_estado_B_CH_amarela = df_estado_B[(df_estado_B['CO_PROVA_CH'] == codigo_prova_amarela_CH)]
df_estado_B_LC_amarela = df_estado_B[(df_estado_B['CO_PROVA_LC'] == codigo_prova_amarela_LC)]
df_estado_B_MT_amarela = df_estado_B[(df_estado_B['CO_PROVA_MT'] == codigo_prova_amarela_MT)]

In [9]:
#prova azul
df_estado_A_CN_azul = df_estado_A[(df_estado_A['CO_PROVA_CN'] == codigo_prova_azul_CN)]
df_estado_A_CH_azul = df_estado_A[(df_estado_A['CO_PROVA_CH'] == codigo_prova_azul_CH)]
df_estado_A_LC_azul = df_estado_A[(df_estado_A['CO_PROVA_LC'] == codigo_prova_azul_LC)]
df_estado_A_MT_azul = df_estado_A[(df_estado_A['CO_PROVA_MT'] == codigo_prova_azul_MT)]

df_estado_B_CN_azul = df_estado_B[(df_estado_B['CO_PROVA_CN'] == codigo_prova_azul_CN)]
df_estado_B_CH_azul = df_estado_B[(df_estado_B['CO_PROVA_CH'] == codigo_prova_azul_CH)]
df_estado_B_LC_azul = df_estado_B[(df_estado_B['CO_PROVA_LC'] == codigo_prova_azul_LC)]
df_estado_B_MT_azul = df_estado_B[(df_estado_B['CO_PROVA_MT'] == codigo_prova_azul_MT)]

In [16]:
# len(list(dt_dados_PR_MT_azul['TX_GABARITO_MT'].head(1))[0])

In [ ]:
#Features que me interessam
features_microdados = ["NU_INSCRICAO","NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_LC","NU_NOTA_MT","NU_NOTA_REDACAO",
                       "TP_ESCOLA", "NU_NOTA_COMP1","NU_NOTA_COMP2","NU_NOTA_COMP3","NU_NOTA_COMP4","NU_NOTA_COMP5",
                       "TX_RESPOSTAS_CN","TX_RESPOSTAS_CH","TX_RESPOSTAS_LC","TX_RESPOSTAS_MT",
                      "CO_PROVA_CN","CO_PROVA_CH","CO_PROVA_LC","CO_PROVA_MT","TP_LINGUA"]

In [8]:
#Filtro das areas que me interessam
df_estado_A_CN_amarela = df_estado_A_CN_amarela[['NU_INSCRICAO','TX_RESPOSTAS_CN','TX_GABARITO_CN']]
df_estado_A_CH_amarela = df_estado_A_CH_amarela[['NU_INSCRICAO','TX_RESPOSTAS_CH','TX_GABARITO_CH']]
df_estado_A_LC_amarela = df_estado_A_LC_amarela[['NU_INSCRICAO','TX_RESPOSTAS_LC','TX_GABARITO_LC','TP_LINGUA']]
df_estado_A_MT_amarela = df_estado_A_MT_amarela[['NU_INSCRICAO','TX_RESPOSTAS_MT','TX_GABARITO_MT']]

df_estado_B_CN_amarela = df_estado_B_CN_amarela[['NU_INSCRICAO','TX_RESPOSTAS_CN','TX_GABARITO_CN']]
df_estado_B_CH_amarela = df_estado_B_CH_amarela[['NU_INSCRICAO','TX_RESPOSTAS_CH','TX_GABARITO_CH']]
df_estado_B_LC_amarela = df_estado_B_LC_amarela[['NU_INSCRICAO','TX_RESPOSTAS_LC','TX_GABARITO_LC','TP_LINGUA']]
df_estado_B_MT_amarela = df_estado_B_MT_amarela[['NU_INSCRICAO','TX_RESPOSTAS_MT','TX_GABARITO_MT']]

print(len(df_estado_A_CN_amarela)+len(df_estado_A_CH_amarela)+len(df_estado_A_LC_amarela)+len(df_estado_A_MT_amarela))
print(len(df_estado_B_CN_amarela)+len(df_estado_B_CH_amarela)+len(df_estado_B_LC_amarela)+len(df_estado_B_MT_amarela))

35456
25112

In [ ]:
df_estado_A_CN_azul = df_estado_A_CN_azul[['NU_INSCRICAO','TX_RESPOSTAS_CN','TX_GABARITO_CN']]
df_estado_A_CH_azul = df_estado_A_CH_azul[['NU_INSCRICAO','TX_RESPOSTAS_CH','TX_GABARITO_CH']]
df_estado_A_LC_azul = df_estado_A_LC_azul[['NU_INSCRICAO','TX_RESPOSTAS_LC','TX_GABARITO_LC','TP_LINGUA']]
df_estado_A_MT_azul = df_estado_A_MT_azul[['NU_INSCRICAO','TX_RESPOSTAS_MT','TX_GABARITO_MT']]

df_estado_B_CN_azul = df_estado_B_CN_azul[['NU_INSCRICAO','TX_RESPOSTAS_CN','TX_GABARITO_CN']]
df_estado_B_CH_azul = df_estado_B_CH_azul[['NU_INSCRICAO','TX_RESPOSTAS_CH','TX_GABARITO_CH']]
df_estado_B_LC_azul = df_estado_B_LC_azul[['NU_INSCRICAO','TX_RESPOSTAS_LC','TX_GABARITO_LC','TP_LINGUA']]
df_estado_B_MT_azul = df_estado_B_MT_azul[['NU_INSCRICAO','TX_RESPOSTAS_MT','TX_GABARITO_MT']]

# Função para geração das matrizes de 0 e 1 de acordo com cada area

In [9]:
def function_test(mat):
 # dic_anuladas = dict() #dicionario para verificar as questoes anuladas
  linhas_alunos = mat.shape[0] # pegar o total de linhas (registros de estudantes)
  tam_vetor_gabarito = len(mat[0][2]) #pega o total de questoes do vetor gabarito, serve para identificar tbm se é LC
  tam_respostas = len(mat[0][1])
  mat_principal = [] # matriz de retorno

  for x in range(linhas_alunos): #linha
    aux = [] #lista
    aux.append(mat[x][0]) # pega a coluna de inscricao
    vetor_gabarito = []  # Initialize vetor_gabarito here
    if(tam_vetor_gabarito != tam_respostas): #eh uma prova de LC com as questões de Espanhol e Ingles
      if(mat[x][3] == 0): # verificar se lingua escolhida da prova foi ingles
        vetor_gabarito = mat[x][2] #pegar o vetor gabarito
        vetor_gabarito = vetor_gabarito[0:5]+vetor_gabarito[10:] #concatenar somente as questoes de ingles com o resto das questoes (excluindo as de espanhol)
      else: #espanhol
        vetor_gabarito = mat[x][2] #pegar o vetor gabarito
        vetor_gabarito = vetor_gabarito[5:] #caso seja espanhol as 5 primeiras de ingles saem do filtro
      for z in range(tam_respostas): # Laço para percorrer a TX_RESPOSTA_CN e TX_GABARITO_CN
        if(vetor_gabarito[z] != 'X'): #verificar se existe questao que foi anulada (nao vai entrar na matriz binaria de erro e acerto)
          if(mat[x][1][z] == vetor_gabarito[z]): #se a resposta for igual
            aux.append(1)
          else: #verifica se a escolha de prova eh diferente quando temos um TX_RESPOSTA = 9
            aux.append(0)
        else:
          #dic_anuladas[area] = z+1
          aux.append(2)
    else:
      for z in range(tam_respostas): # Laço para percorrer a TX_RESPOSTA_CN e TX_GABARITO_CN
          if(mat[x][2][z] != 'X'):
            if(mat[x][1][z] == mat[x][2][z]): #se a resposta for igual
              aux.append(1) #adiciona 1 como certo
            else:
              aux.append(0) #errouuu
          else:
            aux.append(2)

    mat_principal.append(aux) # list of list
  column_names = ['matricula'] + ['Q' + str(i) for i in range(1, len(mat_principal[0]))]  # Create column names
  df = pd.DataFrame(data=mat_principal, columns=column_names)  # Create DataFrame
  # Remove columns with all values equal to 2
  df = df.loc[:, (df != 2).any(axis=0)]

  return df
  #verificar questoes em branco no TX_resposta

# Criar dataframe das matrizes de erros e acertos de acordo com cada area (Transformar em função)

In [10]:
def criar_matriz_binaria(dt_dados):
  array = np.array(dt_dados) #Teste usando dtdados_AM_CN
  df_dados = function_test(array) #matriz auxiliar pra receber o retorno da funcao
  raw_score = df_dados[df_dados.columns[1:46]].sum(axis=1)
  df_dados['raw_score'] = raw_score
  return df_dados

In [20]:
#Paraná
df_mat_estado_A_CN_amarela = criar_matriz_binaria(df_estado_A_CN_amarela)
df_mat_estado_A_CH_amarela = criar_matriz_binaria(df_estado_A_CH_amarela)
df_mat_estado_A_LC_amarela = criar_matriz_binaria(df_estado_A_LC_amarela)
df_mat_estado_A_MT_amarela = criar_matriz_binaria(df_estado_A_MT_amarela)

# Pará
df_mat_estado_B_CN_amarela = criar_matriz_binaria(df_estado_B_CN_amarela)
df_mat_estado_B_CH_amarela = criar_matriz_binaria(df_estado_B_CH_amarela)
df_mat_estado_B_LC_amarela = criar_matriz_binaria(df_estado_B_LC_amarela)
df_mat_estado_B_MT_amarela = criar_matriz_binaria(df_estado_B_MT_amarela)

In [21]:
# #Paraná
# df_mat_estado_A_CN_azul = criar_matriz_binaria(df_estado_A_CN_azul)
# df_mat_estado_A_CH_azul = criar_matriz_binaria(df_estado_A_CH_azul)
# df_mat_estado_A_LC_azul = criar_matriz_binaria(df_estado_A_LC_azul)
# df_mat_estado_A_MT_azul = criar_matriz_binaria(df_estado_A_MT_azul)

# # Pará
# df_mat_estado_B_CN_azul = criar_matriz_binaria(df_estado_B_CN_azul)
# df_mat_estado_B_CH_azul = criar_matriz_binaria(df_estado_B_CH_azul)
# df_mat_estado_B_LC_azul = criar_matriz_binaria(df_estado_B_LC_azul)
# df_mat_estado_B_MT_azul = criar_matriz_binaria(df_estado_B_MT_azul)

In [41]:
def pegar_respostas_alunos(df):
    matriz_respostas_alunos = []
    df_prova = np.array(df)
    qtde_linhas = df_prova.shape[0]
    tam_respostas = len(df_prova[0][1])

    for i in range(qtde_linhas):
        aux = []
        aux.append(df_prova[i][0])
        for j in range(tam_respostas):
            if(df_prova[i][2][j] != 'X'):
                aux.append(df_prova[i][1][j])
            else:
                aux.append(2)
        matriz_respostas_alunos.append(aux)

    matriz_respostas_alunos
    column_names = ['matricula'] + ['Q' + str(i) for i in range(1, len(matriz_respostas_alunos[0]))]  # Create column names
    df_respostas_alunos = pd.DataFrame(data=matriz_respostas_alunos, columns=column_names)  # Create DataFrame
    # Remove columns with all values equal to 2
    df_respostas_alunos = df_respostas_alunos.loc[:, (df_respostas_alunos != 2).any(axis=0)]
    df_respostas_alunos

    return df_respostas_alunos

In [42]:
#Paraná
df_respostas_estado_A_CN_amarela = pegar_respostas_alunos(df_estado_A_CN_amarela)
df_respostas_estado_A_CH_amarela = pegar_respostas_alunos(df_estado_A_CH_amarela)
df_respostas_estado_A_LC_amarela = pegar_respostas_alunos(df_estado_A_LC_amarela)
df_respostas_estado_A_MT_amarela = pegar_respostas_alunos(df_estado_A_MT_amarela)

# Pará
df_respostas_estado_B_CN_amarela = pegar_respostas_alunos(df_estado_B_CN_amarela)
df_respostas_estado_B_CH_amarela = pegar_respostas_alunos(df_estado_B_CH_amarela)
df_respostas_estado_B_LC_amarela = pegar_respostas_alunos(df_estado_B_LC_amarela)
df_respostas_estado_B_MT_amarela = pegar_respostas_alunos(df_estado_B_MT_amarela)

In [47]:
df_respostas_estado_A_CN_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PR_CN_amarela.csv")
df_respostas_estado_A_CH_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PR_CH_amarela.csv")
df_respostas_estado_A_LC_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PR_LC_amarela.csv")
df_respostas_estado_A_MT_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PR_MT_amarela.csv")

df_respostas_estado_B_CN_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PA_CN_amarela.csv")
df_respostas_estado_B_CH_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PA_CH_amarela.csv")
df_respostas_estado_B_LC_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PA_LC_amarela.csv")
df_respostas_estado_B_MT_amarela.to_csv("respostas_alunos/respostas_alunos_estado_PA_MT_amarela.csv")

In [ ]:
def somar_coluna(df, coluna):
    """
    Retorna a soma dos valores de uma coluna específica em um DataFrame.

    Args:
        df (pandas.DataFrame): O DataFrame contendo os dados.
        coluna (str): O nome da coluna a ser somada.

    Returns:
        float: A soma dos valores da coluna.
    """
    return df[coluna].sum()

In [21]:
df_mat_estado_A_CH_amarela

,matricula,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,raw_score
0,210055502388,1,1,0,0,1,0,1,1,0,...,1,0,0,0,1,1,0,0,0,18
1,210057246742,1,0,1,0,1,0,1,0,0,...,1,1,0,0,1,1,0,1,1,22
2,210057818368,0,0,0,0,1,0,0,0,1,...,1,1,0,0,0,1,0,0,1,11
3,210055418975,1,0,0,1,1,0,1,1,1,...,0,0,1,0,0,1,1,0,0,20
4,210055419386,1,0,1,0,1,0,1,1,1,...,1,1,1,1,0,1,1,0,1,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,210055673075,1,0,1,0,1,0,0,1,0,...,1,1,1,0,1,1,0,0,0,20
8812,210055236807,1,0,0,0,1,1,0,1,0,...,1,1,0,0,1,1,1,1,1,24
8813,210055351862,1,0,0,0,1,0,1,0,0,...,1,0,1,0,0,1,1,0,1,16
8814,210055467972,1,1,1,0,1,0,0,1,1,...,0,0,0,1,0,1,0,0,0,16
8815,210057826243,0,1,0,0,1,0,1,0,1,...,1,0,0,0,1,0,1,0,0,15

#ESTATISTICA DOS ESTADOS

In [ ]:
total_A = len(df_mat_estado_A_CH_amarela) + len(df_mat_estado_A_CN_amarela) + len(df_mat_estado_A_LC_amarela)  + len(df_mat_estado_A_MT_amarela)
total_B = len(df_mat_estado_B_CH_amarela) + len(df_mat_estado_B_CN_amarela) + len(df_mat_estado_B_LC_amarela)  + len(df_mat_estado_B_MT_amarela)

In [ ]:
print(total_A,total_B)
print(total_A + total_B)

In [ ]:
def gerar_dados(matriz_base,coluna_escolhida):
  total_participantes = len(matriz_base)
  total_acertos = somar_coluna(matriz_base, coluna_escolhida)
  porcentagem = (total_acertos / total_participantes) * 100

  print("Total participantes:", str(total_participantes))
  print("Total que acertaram o item:", str(total_acertos))
  print("Porcentagem de acertos:", str(porcentagem))

In [ ]:
matriz_base_E1 = df_mat_estado_A_CH_amarela
matriz_base_E2 = df_mat_estado_B_CH_amarela
coluna_escolhida = "Q36"
total_participantes_E1 = somar_coluna(matriz_base_E1,coluna_escolhida)+somar_coluna(matriz_base_E2,coluna_escolhida)
#----------------------------------------------
print("Estado A questão",coluna_escolhida)
print(gerar_dados(matriz_base_E1,coluna_escolhida))
print("Estado B questão",coluna_escolhida)
print(gerar_dados(matriz_base_E2,coluna_escolhida))

# Pontuação mínima e máxima de LC estado A e estado B (Raw Score)

In [ ]:
df_mat_estado_A_LC_amarela['raw_score'].max()

In [ ]:
df_mat_estado_B_LC_amarela['raw_score'].max()

# Salvando as matrizes em formato CSV

In [ ]:
#list(df_LC_teste.columns) #
#df_LC_teste.drop(0,axis = 1, inplace=True) # remover coluna matricula

In [ ]:
# df_LC_AM = df_matriz_LC # em uso pra teste
# df_LC_AM.to_csv("/content/drive/MyDrive/faculdade/TCC_Leide_Marina/pre-processamento/matrizes_binarias/MATRIZ_LC_BINARIA_AM.csv") #Gerar um CSV com a matriz binaria de linguagens e codigos

In [ ]:
df_mat_estado_A_CH_amarela.to_csv("matrizes_binarias/MATRIZ_CH_BINARIA_PR_amarela.csv")
df_mat_estado_A_MT_amarela.to_csv("matrizes_binarias/MATRIZ_MT_BINARIA_PR_amarela.csv")
df_mat_estado_A_CN_amarela.to_csv("matrizes_binarias/MATRIZ_CN_BINARIA_PR_amarela.csv")
df_mat_estado_A_LC_amarela.to_csv("matrizes_binarias/MATRIZ_LC_BINARIA_PR_amarela.csv")

df_mat_estado_B_CH_amarela.to_csv("matrizes_binarias/MATRIZ_CH_BINARIA_PA_amarela.csv")
df_mat_estado_B_MT_amarela.to_csv("matrizes_binarias/MATRIZ_MT_BINARIA_PA_amarela.csv")
df_mat_estado_B_CN_amarela.to_csv("matrizes_binarias/MATRIZ_CN_BINARIA_PA_amarela.csv")
df_mat_estado_B_LC_amarela.to_csv("matrizes_binarias/MATRIZ_LC_BINARIA_PA_amarela.csv")

In [ ]:
df_mat_estado_A_CH_azul.to_csv("matrizes_binarias/MATRIZ_CH_BINARIA_PR_azul.csv")
df_mat_estado_A_MT_azul.to_csv("matrizes_binarias/MATRIZ_MT_BINARIA_PR_azul.csv")
df_mat_estado_A_CN_azul.to_csv("matrizes_binarias/MATRIZ_CN_BINARIA_PR_azul.csv")
df_mat_estado_A_LC_azul.to_csv("matrizes_binarias/MATRIZ_LC_BINARIA_PR_azul.csv")

df_mat_estado_B_CH_azul.to_csv("matrizes_binarias/MATRIZ_CH_BINARIA_PA_azul.csv")
df_mat_estado_B_MT_azul.to_csv("matrizes_binarias/MATRIZ_MT_BINARIA_PA_azul.csv")
df_mat_estado_B_CN_azul.to_csv("matrizes_binarias/MATRIZ_CN_BINARIA_PA_azul.csv")
df_mat_estado_B_LC_azul.to_csv("matrizes_binarias/MATRIZ_LC_BINARIA_PA_azul.csv")

In [ ]:
# Exemplo de uso
file_path = 'matrizes_binarias/MATRIZ_LC_BINARIA_PR_amarela.csv'
dataframe = pd.read_csv(file_path)

In [ ]:
def group_and_count_equal_lines(dataframe):
    grouped = dataframe.groupby(list(dataframe.columns)).size().reset_index(name='count')
    sorted_grouped = grouped.sort_values(by='count', ascending=False)
    return sorted_grouped

In [ ]:
dataframe = dataframe[['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22',
       'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45']]
grouped_data = group_and_count_equal_lines(dataframe)
new_dataframe = pd.DataFrame(grouped_data)

In [ ]:
new_dataframe

In [ ]:
dataframe.shape

In [ ]:
new_dataframe['count'].value_counts(sort = True)

In [ ]:
# group_and_count_equal_lines <- function(dataframe) {
#   grouped <- aggregate(. ~ ., dataframe, length)
#   names(grouped)[length(names(grouped))] <- "count"
#   sorted_grouped <- grouped[order(-grouped$count), ]
#   return(sorted_grouped)
# }

# # Example usage
# file_path <- 'your_file.csv'
# dataframe <- read.csv(file_path)

# sorted_dataframe <- group_and_count_equal_lines(dataframe)

# print(sorted_dataframe)